{{define "title"}}User Profile - My Web App{{end}}

{{define "content"}}
<div class="container">
    <h1>User Profile</h1>
    <div class="user-info">
        <p>User ID: {{.UserID}}</p>
    </div>
</div>
{{end}} 